@import "~bourbon/app/assets/stylesheets/_bourbon";
@import "_variables";
@import "normalize";
@import "prism.css";
@import "form";
@import "header";
@import "navigation";


html, body, #root, .site {
	@include size(100%);
}

body {
	font-family: 'Lato', sans-serif;
	color: #222;
}

* {
	box-sizing: border-box;
}

code[class*="language-"], pre[class*="language-"] {
	font-size: 12px;
}


.site {
	display: grid;
	grid-template-columns: 250px 1fr;
	grid-template-rows: 1fr;
	grid-template-areas:
		"navigation content";

	&__navigation {
		grid-area: navigation;
		border-right: 1px solid $grey;
		overflow-y: auto;
	}

	&__content {
		grid-area: content;
		overflow-y: auto;
	}
}

.pageContent {
	max-width: 770px;
	margin: 0 auto;
	line-height: 28px;

	h1 {
		font-size: 64px;
		color: $purple;
	}

	a {
		color: $purple;
	}
}