.navigation {
	border-top: 1px solid $grey;
}

.navItem {
	position: relative;
	display: block;
	height: 48px;
	line-height: 48px;
	padding-left: 26px;
	font-size: 14px;
	letter-spacing: 1.4px;
	color: $blue-dark;
	border-bottom: 1px solid $grey;
	text-decoration: none;

	&--active {
		color: $purple;

		&:before {
			content: '';
			width: 5px;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			background-image: linear-gradient(174deg, #3023ae, #c96dd8);
		}
	}

	&:hover {
		color: $purple;
	}
}


.subNavItem + .navItem {
	border-top: 1px solid $grey;
}

.subNavItem {
	display: block;
	height: 40px;
	line-height: 40px;
	padding-left: 31px;
	font-size: 14px;
	color: $blue-dark;
	background-color: #fafafa;
	text-decoration: none;


	&--active {
		color: $purple;
		background-color: #fff;
	}

	&:hover {
		color: $purple;
	}
}